<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>  
        <h2>Hello, (manager name) </h2> 
        <h3>Welcome to the Just Everything portal!</h3>
        <h3>Here are your employee reimburesment requests.</h3>
    </div>  

    <hr>

    <div>
        <h4>REQEUSTS</h4>
        <table>
            <tr>
                <th>Recent   </th>
                <th>Last Week   </th>
                <th>2 Weeks ago   </th>
            </tr>
        </table>
    </div>
</body>
</html>
