<form  action="./forms.html" method="POST">
   <fieldset>
        <h3>Employee Login</h3>
        <label class="username" for="username"><strong>Username:</strong></label>
        <input type="text" name="username" placeholder="Username" > <br> <br>

        <label class="password"for="password"><strong>Password:</strong> </label>
        <input type="text" name="password" placeholder="Password"> <br><br>

        <button id="submitLogin" (click)="submitLogin()" type="submit">LOGIN</button>
   </fieldset> 
</form>


