<form action="./forms.html" method="POST">
  <h2>Request History</h2>
  <label for="Request Type"></label>
  <input type="text" name="Request Type" placeholder="Lodging, Travel, Food, etc."> <br> 

  <label for="Request Amount"></label>
  <input type="text" name="Request Amount" placeholder="$ 5.00"><br>

  <label for="Request Details"></label>
  <input type="text" name="Request Details"><br>

  <label for="Receipt"></label>
  <!--div class=”btn” id=”upload_image”>Upload image</div-->
  
</form>
